
.lz-btn 
  /* height 30px */
  white-space nowrap
  display inline-block
  text-align center
  border 1px solid transparent
  padding 0px 12px
  margin 3px 0px
  font-size 14px
  line-height 30px
  border-color #cccccc
  width inherit
  border-radius 15px
  background #fff
  color #323232
  box-sizing border-box


.lz-btn-red 
  color #fff
  background #FE473C
  border-color #FE473C


.lz-btn-blue 
  color #fff
  background #0188FF
  border-color #0188FF


.lz-btn-orange 
  color #fff
  background #FEA54C
  border-color #FEA54C


.lz-btn-gray 
  color #323232
  background #F6F6F6
  border-color #F6F6F6


.lz-btn-redGray 
  color #FE473C
  background #FFDAD7
  border-color #FE473C


.lz-btn-sm 
  /* height 24px */
  line-height 24px
  border-radius 12px
  padding 0 10px
  font-size 12px
  align-items center
  /* min-width 75px */


.lz-btn-little 
  /* height 20px */
  line-height 20px
  border-radius 10px
  padding 0 7px
  font-size 12px
  align-items center


.lz-btn-large 
  /* height 40px */
  line-height 40px
  border-radius 20px
  padding 0 15px
  font-size 16px


.lz-btn-big 
  /* height 48px */
  line-height 48px
  border-radius 24px
  padding 0 15px
  font-size 16px


.lz-btn.lz-btn-ghost 
  background transparent !important
  color #323232


.lz-btn-red.lz-btn-ghost 
  background transparent !important
  color #FE473C


.lz-btn-blue.lz-btn-ghost 
  background transparent !important
  color #0188FF


.lz-btn-orange.lz-btn-ghost 
  background transparent !important
  color #FEA54C


.lz-btn-gray.lz-btn-ghost 
  background transparent !important
  color #323232


.lz-btn-redGray.lz-btn-ghost 
  background transparent !important
  color #FE473C


.lz-btn-disabled 
  color #fff
  background #cccccc
  border-color #cccccc


.lz-btn-min-width 
  min-width 55px


.lz-btn-no-border 
  border 0px solid transparent
