view.page
  - var title = "product-picinfoview"
  - var desc = "商品库商品信息视图"
  include ../../templates/pageHead.pug

  view.page__bd.page__bd_spacing
    view.mb15.bold product-picinfoview
    product-picinfoview

    view.mb15.bold.mt20 product-picinfocard
    product-picinfocard