@import '../../styles/normal.styl';  

.grid
  background #fff
  position relative
  overflow hidden

.grid-item
  position relative
  width 33.33333333%
  float left
  text-align center 
  font-family PingFangSC-Medium
  padding 10px 0