view.grid 
  view.grid-item(
    wx:for="{{list}}"
    wx:for-item="item"
    wx:key="index"
  )
    view.font16.color-blue(
      style="{{_.s(vi, 'color')}}"
    ) {{item.title}}
    view.font12.color-gray {{item.tips}}    

wxs(src="../../wxs/vi.wxs" module="_")    