view.page
  view.page__hd 
    view.page__title Search
    view.page__desc 搜索输入框

  view.page__bd.page__bd_spacing
    search(
      placeholder="输入搜索内容"
    )

    view
      wxParse(
        nodes="{{desc}}"
      )