view.page
  - var title = "search"
  - var desc = "搜索输入框"
  include ../../templates/pageHead.pug

  view
    search(
      placeholder="输入搜索内容"
    )

    view.mt15.page__bd.page__bd_spacing
      wxParse(
        nodes="{{doc}}"
        language="html"
      )