// 圆角边距
box-radius = 10px

cr-gray = rgba(0, 0, 0, 0.5)
cr-black = rgba(0, 0, 0, 0.9)
cr-red = #FF2332
cr-blue = #1976D2

font-blue = #0188FF
font-black = #323232
font-gray = #999999
font-white = #ffffff