@import './define.styl';

/* 字体，边距 */
for num in (10..20)
  .font{num}
    font-size num px

for num in (2..20)
  .mt{num}
    margin-top num px
  
  .ml{num}
    margin-left num px

  .mb{num}
    margin-bottom num px

  .mr{num}
    margin-right num px 

/* 文本 */
.text-flow1
  overflow hidden
  display -webkit-box
  word-break break-all
  -webkit-box-orient vertical
  -webkit-line-clamp 1
  text-overflow ellipsis

.text-flow2
  overflow hidden
  display -webkit-box
  word-break break-all
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  text-overflow ellipsis

.line-through
  text-decoration line-through

.bold
  font-weight bold  

.color-black
  color font-black

.color-gray
  color font-gray  

.color-blue
  color font-blue

/* 线条 */
.bottom-line
  position relative

.bottom-line::after
  content ' '
  position absolute
  bottom 0
  left 0
  height 1px 
  width 100%
  background #f2f2f2
  transform scaleY(.5)

.top-line
  position relative

.top-line::after
  content ' '
  position absolute
  top 0
  left 0
  height 1px 
  width 100%
  background #f2f2f2
  transform scaleY(.5)    




