for num in (10..20)
  .font{num}
    font-size num px

for num in (2..20)
  .mt{num}
    margin-top num px
  
  .ml{num}
    margin-left num px

  .mb{num}
    margin-bottom num px

  .mr{num}
    margin-right num px    


