@import "../../styles/normal.styl";

.product-picinfocard
  background #fff 
  border-radius 10px
  padding 15px 10px 0

.infoview
  padding 0 0 10px!important

.price-area
  padding 10px 0  

.text-right
  text-align right  

.btn-group
  padding 10px 0 
