@import "../../styles/flex.styl";
@import "../../styles/normal.styl";

.info-view
  background #fff
  padding 15px 10px

.image-body
  margin-right 10px

.pro-image
  width 70px
  height 70px
  border-radius 5px
  background #f6f6f6
  display block

.cor-black
  color #323232

.cor-gray
  color #999

.price
  text-align right  
  