@import '../../styles/flex.styl';
@import '../../styles/plugin.styl';

.dropdown-select
  height 44px
  position relative

.dropdown-select__show 
  max-height 500px
  transition max-height .3s ease-in  

.dropdown-header
  background #fff
  padding 12px 15px
  position relative
  z-index 2

.tab-item
  margin-right 5px 

.options-panel
  font-size 14px
  position relative
  z-index 1
  max-height 0
  overflow hidden
  transition max-height 0.2s ease-out

.options-panel__show
  max-height 400px
  border-top 1rpx solid #f2f2f2
  transition max-height .25s ease-in

.mask
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, .3)
  transition all .3s ease-in-out
  opacity 0
  height 100vh
  visibility hidden

.mask-show 
  opacity 1
  visibility visible

.option-item
  padding 12px 12px
  background #fff
  color #999

.option-item__select
  color #323232

.check-icon
  width 20px
  height 20px

vendors = official 

@keyframes fade-in {
  0% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}