@import '../../styles/flex.styl';

.color-item
  width 20px
  height 20px

.skin-item
  margin-right 15px 
  margin-bottom 10px 
  padding 4px
  border-radius 2px
  border 1px solid transparent
  &.selected
    border 1px solid #1976d2

.skin-title
  font-size 14px
  padding-top 4px
    
.skin-color
  margin-left 10px  