view.card-swiper 
  swiper.swiper-container(
    current="{{current}}"
    bindchange="handleChange"
  )
    swiper-item.swiper-item(
      wx:for="{{list}}"
      wx:key="index"
      wx:for-item="item"
    )
      view(
        class="{{current == index ? (type === 'scale' ? 'swiper-scale__current' : 'swiper-flatbd__current') : (type === 'scale' ? 'swiper-scale' : 'swiper-flatbd')}}"
      )
        view.swiper-item__inner(
          wx:if="{{!custom}}"
        ) {{item.value}}
        view.swiper-item__inner(
          wx:if="{{custom}}"
        )
          slot(name="custom-swiper")

  view.page-num.font12(
    wx:if="{{showPage}}"
  )
    text {{current + 1}}
    text.num-space /
    text {{list.length}}