.swiper-container
  height 200px
  width 100%

.swiper-item
  width 80%!important
  margin-left 10%

.swiper-item__inner
  background #fff  
  height 100%
  padding 10px 15px
  box-sizing border-box

.swiper-flatbd__current
  box-sizing border-box
  height 100%  

.swiper-flatbd 
  box-sizing border-box
  height 100%
  padding 0 5%

.swiper-scale__current
  animation .3s scaleBig linear
  box-sizing border-box
  height 100%

.swiper-scale
  box-sizing border-box 
  height 100%
  transform scale(0.9)

.num-space
  margin-left 5px
  margin-right 5px


.page-num
  color #333
  text-align center
  margin-top 40rpx

vendors = official 

@keyframes scaleBig {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}