view.product-picinfoview.flex(
  class="classname"
)
  view.product-image
    image.pro-image(src="")
    view.bottom-mask.color-white.font10.red 已上架

  view.flex-full.ml10
    view.pro-name.font14.color-black.text-flow2 标题
    view.pro-store.font12.color-gray 提示  