view.product-picinfoview.flex.classname
  view.product-image
    image.pro-image(src="{{productPrimaryImage}}")
    view.bottom-mask.color-white.font10.red(
      class!="bottom-mask color-white font10 {{marketable ? (totalStock <= 0 ? 'red' : 'yellow') : ''}}"
    ) {{marketable ? (totalStock <= 0 ? "已售罄" : "已上架") : ""}}

  view.flex-full.ml10
    view.pro-name.font14.color-black.text-flow2 {{productName}}
    view.pro-store.font12.color-gray {{shopName}}  