view.piclist-directory 
  view.header
    form-input(
      title="已选择颜色"
      foot="已选规格值排序"
      footColor="#0188FF"
      link="https://www.baidu.com"
    )

  view.body
    view.cell-item.flex
      view.main
        view.main-text 雪白色
        image.clear-icon(src="/images/icon_clear_samll_grey.png")

      view.sub-list.flex.flex-full
        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")
          view.foot-mask 主图

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")   

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")

    view.cell-item.flex
      view.main
        view.main-text 雪白色
        image.clear-icon(src="/images/icon_clear_samll_grey.png")

      view.sub-list.flex.flex-full
        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")
          view.foot-mask 主图

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")   

        view.sub-item
          image.sub-image(src="")
          image.clear-icon(src="/images/icon_clear_samll_grey.png")

        view.sub-item
          image.camera-image(src="/images/icon_camera_big.png")