@import '../../styles/flex.styl';
@import '../../styles/plugin.styl';

.form-input
  background #ffffff
  padding 10px 12px
  font-size 14px

.cell-left
  margin-right 10px

.cell-right

.input-val
  text-align right
  width 100%

.input-place
  text-align right
  color #dadada

.link-icon 
  width 14px
  height 14px
  margin-left 3px  

.cell-foot
  color #999  

.checkbox
  border 2px solid #cccccc
  border-radius 100%  
  width 16px
  height 16px
  &.checkbox-checked
    border none
    background #0188FF
    width 20px
    height 20px
    text-align center
    line-height 20px
  .check-icon
    width 20px
    height 20px  

.sort-item
  width 20px
  height 20px
  border-radius 2px
  text-align center   
  box-sizing border-box
  border 1rpx solid #999999 
  &:last-child
    margin-left 15px

sort-radius = 2px
.sort-top
  border-left-width 5px
  border-right-width 5px
  border-bottom-width 7px  
  border-radius sort-radius

.sort-bottom
  border-left-width 5px
  border-right-width 5px
  border-top-width 7px  
  border-radius sort-radius