@import '../../styles/flex.styl';

.form-input
  background #ffffff
  padding 10px 12px
  font-size 14px

.cell-left
  margin-right 10px

.cell-right

.input-val
  text-align right
  width 100%

.input-place
  text-align right
  color #dadada

.link-icon 
  width 14px
  height 14px
  margin-left 3px  

.cell-foot
  color #999  