@import "../../styles/flex.styl";
@import "../../styles/normal.styl";

.picinfocard
  background #fff
  border-radius 10px
  padding 0 10px

.card-header  
  padding 10px 0

.info-content
  padding 15px 0px!important

.card-foot
  padding 10px 0